<!-- footer -->
  <footer id="footer" class="app-footer" role="footer">
    <div class="wrapper b-t bg-light">
      <span class="pull-right">Proyecto Ejemplo</span>
      &copy; 2019 Copyright.
    </div>
  </footer>
<!-- / footer -->