{% load static %}
<link rel="stylesheet" href="{% static 'libs/assets/animate.css/animate.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'libs/assets/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'libs/jquery/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'libs/toastr/css/toastr.min.css' %}" type="text/css" />

<link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css" />

<style>
    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 300;
      src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url({% static 'fonts/sourcesanspro/sourcesanspro-light.woff' %}) format('woff');
    }
    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url({% static 'fonts/sourcesanspro/sourcesanspro.woff' %}) format('woff');
    }
    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 700;
      src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url({% static 'fonts/sourcesanspro/sourcesanspro-bold.woff' %}) format('woff');
    }
</style>