{% extends 'base/base.html' %}
{% block title %}Iniciar sesión | Proyecto Ejemplo{% endblock %}

{% block body %}
    <body>
        <div class="app app-header-fixed ">

          <div class="container w-xxl w-auto-xs">
            <a href class="navbar-brand block m-t">Proyecto Ejemplo</a>
            <div class="m-b-lg">
              <div class="wrapper text-center">
                <strong></strong>
              </div>
              <form name="form" method="post">
              {% csrf_token %}
                <div class="text-danger wrapper text-center">
                </div>
                <div class="list-group list-group-sm">
                  <div class="list-group-item">
                    <input type="text" placeholder="Usuario" id="username" name="username" class="form-control no-border" required>
                  </div>
                  <div class="list-group-item">
                     <input type="password" placeholder="Contraseña" id="password" name="password" class="form-control no-border" required>
                  </div>
                </div>
                  {% if form.errors %}
                    <p style="color: darkred">Por favor, introduzca un Usuario y/o Contraseña válidos.</p>
                  {% endif %}
                <button type="submit" class="btn btn-lg btn-primary btn-block">Iniciar sesión</button>

              </form>
            </div>
            <div class="text-center">
              <p>
                <small class="text-muted"><br>&copy; 2019</small>
              </p>
            </div>
          </div>


        </div>

        {% block js %}
            {% include 'base/base_js.html' %}
        {% endblock %}

        {% block extrajs %}
            <script type="text/javascript">
                $(document).ready(function(){
                    window.onload = function(){
                        $("#username").focus();
                    };
                });
            </script>

        {% endblock %}

    </body>
{% endblock %}