{% extends 'base/base.html' %}
{% block title %}Cambiar contraseña | Proyecto Ejemplo{% endblock %}

{% block content %}

    {% block titulo %}
        <div class="bg-light lter b-b wrapper-md">
          <h1 class="m-n font-thin h3">{{ titulo }}</h1>
        </div>
    {% endblock %}

    {% block breadcrumbs %}
        {{ block.super }}
    {% endblock %}

    <div class="col-lg-12 col-sm-12">
            <div class="card">
                <div class="header">

                </div>
                <div class="content">

                    <form method="post">
                      {% csrf_token %}
                        <div class="form-group">
                            <label>Contraseña antigua:</label>
                            {{form.old_password.errors}}
                            {{form.old_password}}
                        </div>
                        <div class="form-group">
                            <label>Contraseña nueva:</label>
                            {{form.new_password1.errors}}
                            {{form.new_password1}}
                            {{ form.new_password1.help_text | safe}}
                        </div>
                        <div class="form-group">
                            <label>Contraseña nueva (confirmación):</label>
                            {{form.new_password2.errors}}
                            {{form.new_password2}}
                        </div>

                      <button class="btn btn-info btn-fill btn-wd" type="submit">Guardar cambios</button>
                    </form>

                </div>
            </div>


        </div>



{% endblock content %}

{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function () {
          $("input").addClass('form-control border-input');
          $(".errorlist > li").addClass('text-danger list-no-style');
        });

    </script>
{% endblock %}